<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedToGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    forward
                </i> Início
            </a>
            <a mat-list-item routerLink="/products">
                <i class="material-icons">
                    <!-- material.io has the list of icons  -->
                    request_quote
                </i> Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-product-crud></app-product-crud>
        <router-outlet> </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
